body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.routes {
  text-decoration: none;
  color: #2c387e;
}

.search-form {
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 65%;
  text-align: center;
  display:flex;
  justify-content: center;
  color: #2c387e;
}

.candidate-name {
  text-transform: uppercase;
  text-shadow: 1px 1px grey;
}